include *.rst
include *.txt
include *.py
include buildout.cfg
include tox.ini
include .coveragerc

recursive-include src *

recursive-include doc *.py
recursive-include doc *.rst
recursive-include doc Makefile

global-exclude *.pyc
